{% extends 'base.html.twig' %}

{% block title %}Ajouter un télésiège{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
{% endblock %}

{% block header %}
    {{ include('header.html.twig') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter un télésiège</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}

        <a href="{{ path('index') }}">Retour à la liste des télésièges</a>
    </div>
{% endblock %}