{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/account.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
{% endblock %}

{% block header %}
    {{ include('header.html.twig') }}
{% endblock %}

{% block body %}

<style>
    body {
        background-image: url('{{ asset('images/image1.png') }}');
        background-size: cover;
    }
</style>

{% if app.user %}
    <div class="logout-container">
        <a href="{{ path('app_logout') }}" class="btn btn-danger">Se déconnecter</a>
        <a href="{{ path('add_telesiege') }}" class="btn btn-primary">Ajouter un télésiège</a>
        <a href="{{ path('add_piste') }}" class="btn btn-primary">Ajouter une piste</a>
    </div>
    <p class="welcome-text">Bienvenue {{ app.user.name }} !</p>


    <section id="hautProfil">
        <div id="UserImage">
            {% if user.image %}
                <img src="{{ user.image }}" alt="Photo de profil">
                <a href="/profil/{{ user.id }}/edit">Modifier votre photo de profil</a>
            {% else%}
                <img src="https://us.123rf.com/450wm/happyvector071/happyvector0711904/happyvector071190414608/120957993-illustration-cr%C3%A9ative-de-l-espace-r%C3%A9serv%C3%A9-de-profil-d-avatar-par-d%C3%A9faut-isol%C3%A9-sur-fond-maquette-de.jpg?ver=6" alt="photo de profil vierge">
                <a href="/profil/{{ user.id }}/edit">Ajouter un Logo</a>
            {% endif %}
        </div>
        <div id="UserName">
            <div id="UserLinks">
                <a href="/profil/{{ user.id }}/edit">Modifier votre profil</a>
            </div>
        </div>
    </section>
    <section id="basProfil">
        {% if user.description %}
            <p>{{ user.description }}</p>
        {% endif %}
        <a href="/profil/{{ user.id }}/edit">Ajouter/Modifier votre description</a>
    </section>

    
    <h2>Mes télésièges</h2>
    <ul>
    {% if telesieges is empty %}
        <p>Aucun télésiège trouvé.</p>
    {% else %}
    {% for telesiege in telesieges %}
        <li>
            <div class="info-block">
                Nom : {{ telesiege.name }}<br>
                Heure d'ouverture : {{ telesiege.openHour|date('d/m/Y H:i') }}<br>
                Heure de fermeture : {{ telesiege.closeHour|date('d/m/Y H:i') }}<br>
                {% if telesiege.fermeture %}
                    Fermeture : Oui<br>
                    Message de fermeture : {{ telesiege.fermetureMessage }}<br>
                {% else %}
                    Fermeture : Non<br>
                {% endif %}
            </div>
            <div class="delete-block">
                <form action="{{ path('delete_telesiege', {'id': telesiege.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce télésiège ?')">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ telesiege.id) }}">
                </form>
            </div>
        </li>
    {% endfor %}
    {% endif %}
    </ul>
    
    <h2>Mes pistes</h2>
    <ul>
    {% if pistes is empty %}
        <p>Aucune piste trouvée.</p>
    {% else %}
    {% for piste in pistes %}
        <li>
            <div class="info-block">
                Nom : {{ piste.name }}<br>
                Difficulté : {{ piste.difficulty }}<br>
                Heure d'ouverture : {{ piste.openHour|date('d/m/Y H:i') }}<br>
                Heure de fermeture : {{ piste.closeHour|date('d/m/Y H:i') }}<br>
{% if piste.fermeture %}
    Fermeture : Oui<br>
    Message de fermeture : {{ piste.fermetureMessage }}<br>
{% else %}
    Fermeture : Non<br>
{% endif %}
</div>
<div class="delete-block">
    <form action="{{ path('delete_piste', {'id': piste.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette piste ?')">
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ piste.id) }}">
    </form>
</div>
</li>
{% endfor %}
{% endif %}
</ul>

{% else %}
<p>Vous n'êtes pas connecté.</p>
{% endif %}

{% endblock %}

