{% extends 'base.html.twig' %}

{% block title %}Ajouter une piste{% endblock %}

{% block body %}
    <h1>Ajouter une piste</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.difficulty) }}
    {{ form_row(form.open_hour) }}
    {{ form_row(form.close_hour) }}
    {{ form_row(form.fermeture) }}
    {{ form_row(form.fermeture_message) }}
    {{ form_row(form.enregistrer) }}
    {{ form_end(form) }}
{% endblock %}
