{% extends 'base.html.twig' %}

{% block title %}Edit Station{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/account.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
{% endblock %}

{% block header %}
    {{ include('header.html.twig') }}
{% endblock %}

{% block body %}

    <style>
        body {
            background-image: url('{{ asset('images/image1.png') }}');
            background-size: cover;
        }
    </style>

    <h1>Edit Station</h1>

    {{ include('profil/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_profil_index') }}">back to list</a>

    {{ include('profil/_delete_form.html.twig') }}
{% endblock %}
